:root {
    --background-color: #121212;
    --link-color: #F9C74F;
    --link-hover-color: #9B2226;
    --card-background: rgba(255, 255, 255, 0.9);
    --sidebar-background: rgba(0, 0, 0, 0.7);
    --border-color: #d9d9d9;
    --header-background: #7F3F3F;
    --button-background: #F9C74F;
    --button-hover-background: #7F3F3F;
}

body {
    background: url('background-harry-potter.jpg') no-repeat center center fixed;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: #D1A24A;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--header-background);
    color: white;
    padding: -95%;
    text-align: center;
}

.lien {
    position: relative;
    background-color: #7F3F3F;
    border-radius: 5px;
    display: flex;
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    color: #C9B9A5;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: -1.5%;
    z-index: 10;
}

.lien a {
    color: #F9C74F;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.lien a:hover {
    color: #F94144;
}

h1 {
    position: fixed;
    font-size: large;
    margin-left: 10px;
    margin-top: -1%; 
    text-align: left; 
    color: var(--link-color);
    opacity: 1;
    z-index: 11;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.exchange-section {
    flex: 1;
    padding: 20px;
}

form {
    margin-bottom: 20px;
    background-color: var(--card-background);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

button {
    background-color: var(--button-background);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover-background);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--header-background);
    color: white;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 150px;
    text-align: center;
    background-color: var(--card-background);
    border-radius: 8px;
}

.card h3 {
    margin: 0;
}

.offer {
    background-color: white;
    padding: 10px;
}

#toggle-dark-mode {
    display: block;
    position: relative;
    top: 0.5%;
    left: 70%;
    z-index: 99;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#darkModeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: -1%;
    z-index: 99;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.icon-sun {
    background-image: url('gryffondor.png');
    width: 30px;
    height: 30px;
    background-size: contain;
    display: inline-block;
}

.icon-moon {
    background-image: url('slytherin_mode.png');
    width: 30px;
    height: 30px;
    background-size: contain;
    display: none;
}

body.slytherin-mode .icon-sun {
    display: none;
}

body.slytherin-mode .icon-moon {
    display: inline-block;
}

body.dark-mode .icon-sun {
    display: none;
}

body.dark-mode .icon-moon {
    display: inline-block;
}

body.slytherin-mode #characterSelect {
    background-color: #3A3D3F;
    color: #A8CBB7;
}

body.slytherin-mode #characterSelect option {
    color: #A8CBB7;
}

#characterCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

body.slytherin-mode {
    background-color: #1a1a1a;
    color: #A8CBB7;
}

body.slytherin-mode h1 {
    color: #A8CBB7;
}

body.slytherin-mode header, 
body.slytherin-mode nav, 
body.slytherin-mode .exchange-section {
    background-color: #3A3D3F;
    border-color: #666;
}

body.slytherin-mode .lien a {
    color: #A8CBB7;
}

body.slytherin-mode .lien a:hover {
    color: #A3D9A5;
}

body.slytherin-mode form {
    background-color: #2b2b2b;
}

body.slytherin-mode button {
    background-color: #3A3D3F;
    color: #A8CBB7;
}

body.slytherin-mode button:hover {
    background-color: #2b2b2b;
}

body.slytherin-mode footer {
    background-color: #3A3D3F;
    color: #A8CBB7;
}