:root {
    --background-color: #121212; /* Fond sombre pour un effet magique */
    --link-color: #F9C74F; /* Or pour les liens */
    --link-hover-color: #9B2226; /* Rouge pour le survol des liens */
    --card-background: rgba(255, 255, 255, 0.9); /* Fond des cartes */
    --sidebar-background: rgba(0, 0, 0, 0.7);
    --border-color: #d9d9d9; /* Couleur de bordure neutre */
    --header-background: #7F3F3F; /* Rouge Gryffondor pour l'en-tête */
    --button-background: #F9C74F; /* Or pour les boutons */
    --button-hover-background: #7F3F3F; /* Rouge pour le survol des boutons */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: #D1A24A; /* Couleur de texte inspirée de l'or */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--header-background); /* Couleur de fond de l'en-tête */
    color: white;
    padding: 20px;
    text-align: center;
}

.lien {
    padding: 1px; /* Ajustez le remplissage pour agrandir la boîte */
    background-color: #7F3F3F; /* Couleur de fond pour la boîte de lien */
    border-radius: 5px; /* Coins arrondis */
    display: flex; /* Permet de définir la taille de la boîte */
    text-align: center;
    font-size: x-large; /* Adjust font size if needed */
    text-decoration: none;
    color: #C9B9A5;
    padding: 5px 10px; /* Adjust padding */
    align-items: center;
    justify-content: center;
    width: auto; /* Change to specific width if desired */
}

.lien a {
    color: #F9C74F;
    text-decoration: none;
    transition: color 0.3s;
}

.lien a:hover {
    color: #F94144;
}
h1 {
    margin-top: 10%;
    color: var(--link-color); /* Couleur du titre */
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px; /* Ajout de remplissage pour un meilleur espacement */
}

.exchange-section {
    flex: 1;
    padding: 20px;
}

form {
    margin-bottom: 20px;
    background-color: var(--card-background); /* Utilisation de la variable pour le fond */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Ombre pour le formulaire */
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

button {
    background-color: var(--button-background); /* Couleur du bouton */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover-background); /* Couleur au survol */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--header-background); /* Couleur de fond du pied de page */
    color: white;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 150px;
    text-align: center;
    background-color: var(--card-background);
    border-radius: 8px; /* Coins arrondis pour les cartes */
}

.card h3 {
    margin: 0;
}

.offer {
    background-color: white;
    padding: 10px;
}

#toggle-dark-mode {
    display: block;
    position: relative;
    top: 0.5%;
    left: 70%;
    z-index: 99;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


#darkModeToggle {
    position: absolute; /* Positionnement absolu */
    top: 20px; /* Ajustez cette valeur pour déplacer l'icône vers le bas ou vers le haut */
    right: 20px; /* Ajustez cette valeur pour déplacer l'icône vers la gauche ou vers la droite */
    z-index: 99; /* Assurez-vous qu'il est au-dessus des autres éléments */
    width: 40px; /* Largeur de l'icône */
    height: 40px; /* Hauteur de l'icône */
    background: transparent; /* Fond transparent */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur de pointeur */
}

.icon-sun {
    background-image: url('gryffondor.png'); /* Assurez-vous que le chemin est correct */
    width: 40px;
    height: 40px;
    background-size: contain;
    display: inline-block;
}

.icon-moon {
    background-image: url('slytherin_mode.png'); /* Assurez-vous que le chemin est correct */
    width: 40px;
    height: 40px;
    background-size: contain;
    display: none; /* Caché par défaut */
}

body.slytherin-mode .icon-sun {
    display: none; /* Cacher l'icône du soleil en mode Slytherin */
}

body.slytherin-mode .icon-moon {
    display: inline-block; /* Afficher l'icône de la lune en mode Slytherin */
}

.icon-sun .icon-moon {
    margin-left: 10%;
    width: 40px;
    height: 40px;
    background-size: contain;
    display: inline-block;
    z-index: 4;
}

body.dark-mode .icon-sun {
    display: none;
}

body.dark-mode .icon-moon {
    display: inline-block;
}

#characterCard {
    display: flex; /* ou grid */
    flex-wrap: wrap; /* Pour que les cartes s'enroulent */
    justify-content: center; /* Centrer les cartes */
    gap: 10px; /* Espacement entre les cartes */
}

body.slytherin-mode {
    background-color: #1a1a1a; /* Fond sombre pour le mode Slytherin */
    color: #A8CBB7; /* Couleur de texte clair */
}

body.slytherin-mode h1 {
    color: #A8CBB7; /* Couleur claire pour le texte de l'en-tête en mode Slytherin */
}

body.slytherin-mode header, 
body.slytherin-mode nav, 
body.slytherin-mode .exchange-section {
    background-color: #3A3D3F; /* Fond sombre pour l'en-tête et la section */
    border-color: #666; /* Couleur de bordure plus claire */
}

body.slytherin-mode .lien a {
    color: #A8CBB7; /* Couleur des liens en mode Slytherin */
}

body.slytherin-mode .lien a:hover {
    color: #A3D9A5; /* Couleur des liens au survol */
}

body.slytherin-mode form {
    background-color: #2b2b2b; /* Fond du formulaire en mode Slytherin */
}

body.slytherin-mode button {
    background-color: #3A3D3F; /* Fond des boutons en mode Slytherin */
    color: #A8CBB7; /* Couleur du texte des boutons */
}

body.slytherin-mode button:hover {
    background-color: #2b2b2b; /* Fond des boutons au survol */
}