:root {
    --background-color: rgba(0, 0, 0, 0.8);
    --link-color: #f9c74f;
    --link-hover-color: #f94144;
    --card-background: rgba(255, 255, 255, 0.9);
    --sidebar-background: rgba(0, 0, 0, 0.7);
    --border-color: #d9d9d9;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('background-harry-potter.jpg') no-repeat center center fixed;
    backdrop-filter: blur(3px);
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: #D1A24A;
    text-align: center; 
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header, nav, .sommaire {
    position: relative;
}

body.dark-mode header, 
body.dark-mode nav, 
body.dark-mode .sommaire {
    background-color: #fefefe;
    border-color: #333;
}

body.dark-mode a {
    color: #bb86fc;
}

body.dark-mode .booster {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

.card-grid, .card-booster {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 100px auto;
    max-width: 1200px;
}

.card {
    background-color: var(--card-background);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
}

.tete {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px; 
}

.search-form {
    position: relative;
    top: -30px; 
    left: 43%;
    z-index: 5;
}

.search-form input {
    color: #000;
    background-color: #fff;
    height: 30%;
    padding: 3px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: #00BFBF;
    outline: none;
    opacity: 1;
}


.lien {
    margin-top: -4%;
    font-size: x-large;
    text-decoration: none;
    color: #C9B9A5;
    background-color: #7F3F3F;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.lien a {
    color: #F9C74F;
    text-decoration: none;
    transition: color 0.3s;
}

.lien a:hover {
    color: #F94144;
}

.logo {
    position: fixed;
    top: 1px;
    right: 82%;
    width: 23%;
    height: 100px;
    z-index: 7;
}

.block {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: 300px !important;
    opacity: 0.9;
}

.sommaire {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #9B2226;
    padding: 10px;
    padding-top: 13%;
    border-right: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    z-index: 0;
    font-size: 0.9em;
    color: #F9C74F;
}

.sommaire a {
    color: #F9C74F;
    text-decoration: none;
}

.sommaire a:hover {
    color: #FFC107;
}

#toggle-dark-mode {
    display: block;
    position: relative;
    top: 0.5%;
    left: 25%;
    z-index: 99;
    width: 40
}

.icon-sun {
    background-image: url('gryffondor.png');
    background-size: contain;
    display: inline-block;
    width: 40px !important;
    height: 40px !important;
  }
  
  .icon-moon {
    background-image: url('slytherin_mode.png');
    background-size: contain;
    display: none;
    width: 40px !important;
    height: 40px !important;
  }
  
  #darkModeToggle {
    display: block;
    position: relative; 
    top: 28px;
    left: 14%;
    z-index: 99;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-sun, .icon-moon {
    width: 40px; 
    height: 40px; 
    background-size: contain; 
    display: inline-block; 
    margin-top: -60%; 
}


body.slytherin-mode {
    background-color: #1a1a1a; 
    color: #A8CBB7; 
}

body.slytherin-mode header,
body.slytherin-mode nav,
body.slytherin-mode .sommaire {
    background-color: #3A3D3F; 
    border-color: #666; 
}

body.slytherin-mode .lien {
    background-color: #3A3D3F;
}

body.slytherin-mode .lien a {
    color: #A8CBB7; 
}

body.slytherin-mode .lien a:hover {
    color: #A3D9A5;
}

body.slytherin-mode .card {
    background-color: #2b2b2b; 
    border: 1px solid #666; 
}

body.slytherin-mode .card h3 {
    color: #A8CBB7; 
}

body.slytherin-mode .card p {
    color: #D1D1D1; 
}

body.slytherin-mode button {
    background-color: #3A3D3F; 
    color: #A8CBB7; /
}

body.slytherin-mode button:hover {
    background-color: #2b2b2b; 
}

