/* Styles par défaut (mode clair) */
body {
    font-family: 'Playfair Display', serif; /* Police inspirée des anciens tomes */
    background-image: url('https://i.imgur.com/Ei4Thaf.jpeg'); /* Image de fond inspirée de Poudlard */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px;
}

.email-input {
    margin-bottom: 20px; /* Ajustez la valeur selon vos besoins */
}

.lien {
    position: relative;
    font-size: x-large;
    text-decoration: none;
    color: #C9B9A5; /* Couleur beige clair pour un look vintage */
    background-color: #423f7f; /* Rouge foncé pour rappeler Gryffondor */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lien a {
    color: #F9C74F; /* Jaune doré pour un contraste avec le fond */
    text-decoration: none;
    transition: color 0.3s;
}

.lien a:hover {
    color: #F94144; /* Rouge vif au survol */
}

h1 {
    text-align: center;
    color: #8B4513; /* Couleur chaude, dorée */
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    background-color: #F5F5F5; /* Couleur claire, semblable au parchemin */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #8B4513; /* Couleur chaude, dorée */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 94%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #666;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #8B4513;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none;
}

button {
    background-color: #8B4513; /* Couleur chaude, dorée */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #663300; /* Une version plus sombre de la couleur */
    transform: translateY(-2px);
}

.message {
    text-align: center; 
    margin-top: 20px;
}

.success {
    color: #2E865F; /* Vert terreux */
}

.error {
    color: #FFC080; /* Couleur chaude, rappelant le whiskey des Weasley */
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-image: none; /* Supprime l'image de fond */
    background-color: #121212; /* Couleur de fond sombre */
}

form.dark-mode {
    background-color: #333; /* Couleur sombre pour le formulaire */
}

label.dark-mode {
    color: #F5F5F5; /* Couleur claire pour les labels en mode sombre */
}

input[type="text"].dark-mode,
input[type="email"].dark-mode,
input[type="password"].dark-mode {
    background-color: #444; /* Couleur sombre pour les champs de saisie */
    color: #F5F5F5; /* Couleur claire pour*/
}

.icon-sun {
    background-image: url('soleil.png'); /* Assurez-vous que le chemin est correct */
    width: 40px; /* Ajustez selon vos besoins */
    height: 40px;
    background-size: contain;
    display: inline-block;
}

.icon-moon {
    background-image: url('icone-de-la-lune.png'); /* Assurez-vous que le chemin est correct */
    width: 40px; /* Ajustez selon vos besoins */
    height: 40px;
    background-size: contain;
    display: none; /* Caché par défaut */
}

.icon-sun, .icon-moon {
    width: 40px; /* Ajustez la taille selon vos besoins */
    height: 40px; /* Ajustez la taille selon vos besoins */
    background-size: contain; /* Ajuste la taille de l'image */
    display: inline-block; /* Assurez-vous qu'elles s'affichent en ligne */
}

body.dark-mode .icon-sun {
    display: none; /* Masquer l'icône du soleil en mode sombre */
}

body.dark-mode .icon-moon {
    display: inline-block; /* Afficher l'icône de la lune en mode sombre */
}