/* Styles par défaut (mode clair) */
body {
    font-family: 'Playfair Display', serif; /* Police inspirée des anciens tomes */
    background-image: url('https://i.imgur.com/Ei4Thaf.jpeg'); /* Image de fond inspirée de Poudlard */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.email-input {
    margin-bottom: 20px; /* Ajustez la valeur selon vos besoins */
}

.lien {
    position: relative;
    font-size: x-large;
    text-decoration: none;
    color: #C9B9A5; /* Couleur beige clair pour un look vintage */
    background-color: #9B2226; /* Rouge foncé pour rappeler Gryffondor */
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lien a {
    color: #F9C74F; /* Jaune doré pour un contraste avec le fond */
    text-decoration: none;
    transition: color 0.3s;
}

.lien a:hover {
    color: #F94144; /* Rouge vif au survol */
}

h1 {
    text-align: center;
    color: #8B4513; /* Couleur chaude, dorée */
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    background-color: #F5F5F5; /* Couleur claire, semblable au parchemin */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #8B4513; /* Couleur chaude, dorée */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 94%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #666;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #8B4513;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none;
}

button {
    background-color: #8B4513; /* Couleur chaude, dorée */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #663300; /* Une version plus sombre de la couleur */
    transform: translateY(-2px);
}

.message {
    text-align: center; 
    margin-top: 20px;
}

.success {
    color: #2E865F; /* Vert terreux */
}

.error {
    color: #FFC080; /* Couleur chaude, rappelant le whiskey des Weasley */
}

/* Styles pour le mode Slytherin */
body.slytherin-mode {
    background-color: #1a1a1a; /* Couleur de fond sombre */
    color: #A8CBB7; /* Couleur claire pour le texte */
}

form.slytherin-mode {
    background-color: #2b2b2b; /* Couleur sombre pour le formulaire */
}

body.slytherin-mode form label {
    color: #A8CBB7; /* Couleur claire pour les labels en mode sombre */
}

input[type="text"].slytherin-mode,
input[type="email"].slytherin-mode,
input[type="password"].slytherin-mode {
    background-color: #444; /* Couleur sombre pour les champs de saisie */
    color: #e0e0e0; /* Couleur claire pour le texte des champs de saisie */
}

button.slytherin-mode {
    background-color: #3a3a3a; /* Couleur sombre pour les boutons */
    color: #ffffff; /* Couleur claire pour le texte des boutons */
}

/* Ajout de styles pour le texte du captcha en mode Slytherin */
body.slytherin-mode .captcha label {
    color: #A8CBB7; /* Couleur claire pour le texte du captcha */
}

body.slytherin-mode .captcha .preview {
    color: #ffffff; /* Couleur du texte du captcha */
    background-color: #333; /* Couleur de fond pour le captcha */
    border: 1px solid #666; /* Bordure pour le captcha */
    padding: 5px; /* Espacement interne */
    border-radius: 4px; /* Coins arrondis */
}

body.slytherin-mode button {
    background-color: #3A3D3F; /* Couleur sombre pour les boutons en mode Slytherin */
    color: #A8CBB7; /* Couleur claire pour le texte des boutons */
}

body.slytherin-mode button:hover {
    background-color: #2b2b2b; /* Une version plus sombre pour le survol */
    transform: translateY(-2px);
}

body.slytherin-mode {
    color: #ffffff; /* Couleur de texte par défaut */
}

body.slytherin-mode h1 {
    color: #A8CBB7; /* Couleur claire pour le titre */
}

body.slytherin-mode .lien {
    background-color: #3A3D3F; /* Couleur de fond pour les liens */
}

body.slytherin-mode .lien a {
    color: #A8CBB7; /* Couleur des liens */
}

body.slytherin-mode .lien a:hover {
    color: #A3D9A5; /* Couleur des liens au survol */
}

.icon-sun {
    background-image: url('gryffondor.png'); /* Assurez-vous que le chemin est correct */
    width: 40px; /* Ajustez selon vos besoins */
    height: 40px;
    background-size: contain;
    display: inline-block;
}

.icon-moon {
    background-image: url('slytherin_mode.png'); /* Assurez-vous que le chemin est correct */
    width: 40px; /* Ajustez selon vos besoins */
    height: 40px;
    background-size: contain;
    display: none; /* Caché par défaut */
}

.icon-sun, .icon-moon {
    width: 40px; /* Ajustez la taille selon vos besoins */
    height: 40px; /* Ajustez la taille selon vos besoins */
    background-size: contain; /* Ajuste la taille de l'image */
    display: inline-block; /* Assurez-vous qu'elles s'affichent en ligne */
}

body.dark-mode .icon-sun {
    display: none; /* Masquer l'icône du soleil en mode sombre */
}

body.dark-mode .icon-moon {
    display: inline-block; /* Afficher l'icône de la lune en mode sombre */
}
#darkModeToggle #icon {
    position: absolute; /* Position absolue pour superposer l'icône */
    top: -15px; /* Ajustez cette valeur pour remonter l'icône de lune */
    left: 20px; /* Ajustez selon vos besoins */
    width: 40px; /* Ajustez selon vos besoins */
    height: 40px; /* Ajustez selon vos besoins */
    background-size: contain; /* Assurez-vous que l'image s'ajuste */
  }

  #darkModeToggle {
    display: inline-block;
    position: relative; /* Nécessaire pour utiliser top */
    top: -8px; /* Ajustez cette valeur selon vos besoins */
    right: 41%; /* Ajustez selon vos besoins */
}